*{
    box-sizing: inherit;/* ke thua*/

 }
 html{
     /*hack 1rem  10px*/
     font-size: 62.5%;
     line-height: 1.6rem; /*16px*/
     font-family: 'Roboto', sans-serif;
     box-sizing: border-box;

 }

 .header{
     height: 120px;
     background-image: linear-gradient(0,#fe6433,#f54e2d);
 }
 .header__navbar{
     display: flex;
     justify-content: space-between;
 }
 .header__navbar-list{
     list-style: none;
     padding: 0;
     margin-top: 4px;
 }
.header__navbar-item{
    margin: 0px 8px;
    position: relative;
    min-height: 27px;

}
.header__navbar-item--has-qr:hover .header__qr{
    display: block;


}
.header__navbar-item,.header__nav-item-link{
     display: inline-block;
     font-size: 1.4rem;
     color: var(--while-color);
     font-weight: 300;
 }
.header__navbar-item,.header__nav-item-link,.header__navbar-icon-link{
    /*display: inline-flex;*/
    align-items: center;
}
.header__navbar-item:hover,.header__nav-item-link :hover,.header__navbar-icon-link:hover{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}
 .header__navbar-item--strong{
     font-weight: 600;
 }
 .header__navbar-item--separate::after{
     content: "";
     display: block;
     position: absolute;
     border-left: 1px solid #FB9086;
     height: 15px;
     top: 0%;
     right: -10px;
     /*transform: translateY(-50%);*/

 }
 .header__navbar-icon-link{
     color: var(--while-color);
 }
 .header__navbar-icon{
     font-size: 1.8rem;
     margin: 0 4px;

 }
 .header__navbar-item-title--no-pointer{
     cursor: text;
     color: var(--while-color);
 }
 /*header QR*/
.header__qr{
    width: 186px;
    background-color: var(--while-color);
    position: absolute;
    left: 0;
    top: 117%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;

}
.header__qr::before{
    position: absolute;
    left: 0;
    content: "";
    width:100%;
    top: -20px;
    height: 20px;
    display: block;

}
.header__qr-img{
    width: 100%;

}
.header__qr-apps{
    display: flex;
    justify-content: space-between;

}
.header__qr-link:nth-child(1){
    margin-left: 10px;

}
.header__qr-link:nth-child(2){
    margin-right: 11px;

}
.header__qr-download-img{
    height: 14px;



}

.header__notify-list{
    padding-left: 0;

}
.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;


}
.header__notify-item:hover{
    background-color: #f7f7f7;

}
.header__notify-item--viewed{
    background-color: rgba(238,75,43,0.08);

}
.header__notify-img{
    width: 48px;
    object-fit: contain;

}
.header__notify-header{
    height: 40px;
    background-color: var(--while-color);

}
.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;

}
.header__notify-info{
    flex: 1;
    margin-left: 12px;

}
.header__notify-name{
    display: block;
    font-size: 1.6rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.6rem;

}
.header__notify-description{
    display: block;
    margin-top: 4px;
    font-size: 1.2rem;
    color: #756F6e;
    line-height: 1.6rem;

}
.header__notify-footer{
    display: flex;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 48px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}
/*modal*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

}

.modal__body {
    /*background-color: var(--while-color);*/
    margin: auto;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.auth-form{
    width: 500px;
    border-radius: 5px;
    background-color: var(--while-color);


}
/*Authen modal*/
.auth-form__container{
    padding: 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -22px;
}
.auth-form_heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--black-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;

}
.auth-form__form{

}
.auth-form__group{

}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid ;
    border-color: var(--border-color) ;
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);

}
.auth-form__socials{
    margin-top: 30px;
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    border-radius: 5px;

}
.auth-fom__controls{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.btn btn--with-icon{

}
.auth-form__socials-icon{
    font-size: 1.8rem;

}
.auth-form__socials--facebook{
    background-color: #3A5A98;
}
.auth-form__socials--facebook .auth-form__socials-icon {
    color: var(--while-color);

}
.auth-form__socials-title{
    margin: 0 30px;
}
.auth-form__socials--google{
    color: #666;
    background-color: var(--while-color);
}




